RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.morejobsbd.net/$1 [R,L]

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]


RewriteCond %{REQUEST_URI} !(\.pdf|\.docx|\.doc|\.css|\.js|\.png|\.woff2|\.jpg|\.jpeg|\.ico|\.gif|robots\.txt)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(css|js|images|img|fonts|uploads)/(.*)$ public/$1/$2 [L,NC]




<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "https://app.morejobsbd.net"
</IfModule>